<div class="card">
    <div class="card-body">
        <h5 class="titulo">Listado de clientes</h5>
        <table class="table">
            <thead>
                <tr>
                  <th scope="col" sortable="nombre" >Nombre</th>
                  <th scope="col" sortable="apellido" >Apellido</th>
                  <th scope="col" sortable="edad" >edad</th>
                  <th scope="col" sortable="fecha">Fecha Nacimiento</th>
                </tr>
                </thead>
            <tbody>
                <tr *ngFor="let cliente of listCliente">
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido }}</td>
                    <td>{{ cliente.edad }}</td>
                    <td>{{ cliente.fechaNacimiento | date : 'dd/MM/yyyy' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>